@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    overflow-x: hidden;
     font-family: "Lato", Lato !important;
    
}
@media (min-width:768px) {
    body{
    overflow-x: hidden;
}
}
p{
    word-spacing: --6px !important;
}
@media (min-width:768px) {
    p{
    word-spacing: 0px !important;
}
}
h1 h2 h3 h4{
word-spacing: 1px !important;
}
@media (min-width:768px) {
    h1 h2 h3 h4{
    word-spacing: 1px !important;
}
}